cloudflare_api_token = "your-api-token-here"
zone_id              = "your-zone-id-here"
hostnames            = ["example.com", "*.example.com"]
# request_type       = "origin-rsa"
# requested_validity = 5475
